*~
.deps/
.DS_Store
*.gz
*.in
*.log
Makefile
*.o

.*.s[a-v][a-z]
.*.sw[a-p]

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/test-driver
