/*.dSYM
/*.trs
/config.h
/stamp-h1

/acquire_release
/alloc2d
/args
/c23_strtol
/call_once
/cas_impl
/c_exception
/check_strtol
/cnd_example
/consume
/cp-v[1234]
/fatal_error
/fl_print_error
/hash_table
/islist
/islist_lf
/islist_lf-v2
/itoken
/lineno_stack
/ls-v1
/mstrcat
/mtx_lockall
/orbits
/orbits-fgets
/orbits-fscanf
/orbits-struct
/print_csi
/PRINTF_FORMAT
/print_hist
/print_mcsi
/putubin
/qsort_example
/rb_tree
/sample_assert
/setjmp_error_codes
/setjmp_example
/shrd_obj
/slist-v[12]
/slist-v1-mtx
/spin_lock
/stat
/strbuf
/strcat-hard
/strcpy-v[12]
/strings
/string-v[12]
/str_is_any
/swap16of32
/swap_bytes
/swapi-v[123]
/tabs_spaces-v[12]
/thrd_hello_world
/token-v[123]
/tss_example
/type_traits
/user
/vnsum
/vstr_is_any
/wlc_string
/wrap_setjmp
